# Always keep our local version of these specific files during merges
client/public/assets/apple-touch-icon.png merge=ours
client/public/assets/favicon-16x16.png merge=ours
client/public/assets/favicon-32x32.png merge=ours
client/public/assets/favicon-96x96.png merge=ours
client/public/assets/favicon.ico merge=ours
client/public/assets/favicon.svg merge=ours
client/public/assets/logo.svg merge=ours
client/public/assets/site.webmanifest merge=ours
client/public/assets/web-app-manifest-192x192.png merge=ours
client/public/assets/web-app-manifest-512x512.png merge=ours